<div class="footer">
</div>
<div id="dialog" class="jw-modal">
  <div class="jw-modal-body">
    <div class="jw-dialog-innner"></div>
    <button onclick="closeModal()">Close</button>
  </div>
</div>
  <div id="popitup" style="display:none;">
    <span onclick="document.getElementById('popitup').style.display='none'">Cancel</span>
    <div id="helptext"></div>
    <textarea class="cmntarea" id="commentText" placeholder="Write a reply!" required></textarea>
    <input id="cmtid" value="" type="hidden"/>
    <input id="actype" value="" type="hidden"/>
    <button id="cmntbtn" onclick="apiAction();">Submit</button>
  </div> <!-- rdx -->

</body>